<a href="https://colab.research.google.com/github/sage959/TASK1_ELEVATELABS/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("amazon.csv")

In [8]:
#See how many nulls each column has
null_counts = df.isnull().sum()
print(null_counts)

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [18]:
import pandas as pd
df = pd.read_csv("amazon.csv")

remaining_nulls = df.isnull().sum().sort_values(ascending=False)
print("Columns with remaining null counts:\n", remaining_nulls[remaining_nulls > 0])

for col, null_count in remaining_nulls[remaining_nulls > 0].items():
    dtype = df[col].dtype

    if pd.api.types.is_numeric_dtype(dtype):
        median_val = df[col].median()
        print(f"Filling {null_count} null(s) in numeric column '{col}' with median = {median_val}")
        df[col] = df[col].fillna(median_val)

    elif pd.api.types.is_datetime64_any_dtype(dtype):
        placeholder = pd.Timestamp("1970-01-01")
        print(f"Filling {null_count} null(s) in datetime column '{col}' with {placeholder.date()}")
        df[col] = df[col].fillna(placeholder)

    else:
        print(f"Filling {null_count} null(s) in text column '{col}' with 'Unknown'")
        df[col] = df[col].fillna("Unknown")

Columns with remaining null counts:
 rating_count    2
dtype: int64
Filling 2 null(s) in text column 'rating_count' with 'Unknown'

In [15]:
null_counts = df.isnull().sum()
print(null_counts)

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [19]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[^\w_]", "", regex=True)
)

In [20]:
df = df.drop_duplicates().reset_index(drop=True)

In [50]:
df["user_name"] = df["user_name"].astype("string")
df = pd.read_csv("amazon.csv", dtype={"user_name": "string"})

In [42]:
print("\nFinal dtypes:\n", df.dtypes)

Final dtypes:
 product_id                     object
product_name                   object
category                       object
discounted_price               object
actual_price                   object
discount_percentage            object
rating                         object
rating_count                   object
about_product                  object
user_id                        object
user_name              string[python]
review_id                      object
review_title                   object
review_content                 object
img_link                       object
product_link                   object
dtype: object

In [43]:
df["rating_count"] = pd.to_numeric(df["rating_count"], errors="coerce")

In [46]:
df["rating"] = pd.to_numeric(df["rating"], errors="coerce")

In [47]:
print("\nFinal dtypes:\n", df.dtypes)

Final dtypes:
 product_id                     object
product_name                   object
category                       object
discounted_price               object
actual_price                   object
discount_percentage            object
rating                        float64
rating_count                  float64
about_product                  object
user_id                        object
user_name              string[python]
review_id                      object
review_title                   object
review_content                 object
img_link                       object
product_link                   object
dtype: object

In [48]:
df.to_csv("amazon_cleaned.csv", index=False)
print("\nSaved fully null‚Äêfree data to 'amazon_cleaned.csv'")

Saved fully null‚Äêfree data to 'amazon_cleaned.csv'